{% load nagios %}

<div class="card">
    <h5 class="card-header">Nagios</h5>
    <div class="card-body">
        <table class="table table-hover attr-table">
            <tr>
                <td>
                    <a href='{{ nagios_base_url }}includes/components/xicore/status.php?show=hostdetail&host={{ object.name }}' target="_blank">
                        <span class="mdi mdi-server-network" aria-hidden="true"></span> Host Status
                    </a>
                </td>
		<td><span class="badge bg-{{ nagios.current_state|nagios_status_color }} text-white">{{ nagios.current_state|nagios_status_string }}</span></td>
                <td></td>
            </tr>
            {% for service in nagios.services %}
            <tr>
                <td><a href='{{ nagios_base_url }}includes/components/xicore/status.php?show=servicedetail&host={{ object.name }}&service={{ service.display_name|urlencode }}' target="_blank">{{ service.display_name }}</a></td>
                <td><span class="badge bg-{{ service.current_state|nagios_status_color }} text-white">{{ service.current_state|nagios_status_string }}</span></td>
                <td>{{ service.3 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
